<p-sidebar *ngIf="selectedChannel" [(visible)]="visibleSidebar1" [baseZIndex]="10000"
	blockScroll="true" [style]="{'width':'340px', 'margin-bottom': '20px'}">

	<h1>{{ 'CHANNEL.SELECT' | translate }}</h1>

	<p-listbox [options]="channelItems" [(ngModel)]="selectedChannel"
		filter="filter" [style]="{'width':'300px', 'border':'none'}"
		(onChange)="getVideos()">
		<ng-template let-ChannelItem pTemplate="item">
			<div class="ui-helper-clearfix">{{ChannelItem.label}}</div>
		</ng-template>
	</p-listbox>
</p-sidebar>

<div *ngIf="selectedChannel" class="ui-g">
	<div class="ui-g-12 headchannel">
		<button pButton type="button" (click)="visibleSidebar1 = true"
			icon="pi pi-arrow-left" label="{{ 'COMMON.CHANGE' | translate }}">
		</button>

		<h1 title="{{ 'COMMON.DIRECTL_REF' | translate }}">
			<span>{{ 'COMMON.CHANNEL_U' | translate }}: </span>
			<a href="/channel?id={{selectedChannel.id}}" target="_blank" rel="noopener">
				<label>{{selectedChannel.title}}</label>
			</a>
		</h1>

		<a href="https://www.youtube.com/channel/{{selectedChannel.id}}" target="_blank" rel="noopener">
			<img src="../../assets/images/link.png" title="{{ 'CHANNEL.CHANNEL_REF_YOUTUBE' | translate }}" 
				alt="{{ 'CHANNEL.CHANNEL_REF_YOUTUBE' | translate }}"/>
		</a>
	</div>

	<div class="ui-g-12">
		{{ 'CHANNEL.START' | translate }} {{selectedChannel.timeadd | date: 'dd-MM-yyyy HH:mm:ss'}},
		{{ 'CHANNEL.COUNT_VIDEO' | translate }}: {{selectedChannel.countvideo}}
	</div>

	<div class="ui-g-12">
		<div class="p-grid p-align-start .p-col-align-start">

			<ng-template ngFor let-youtubevideo [ngForOf]="youtubeVideosShort">
				<div class="p-col videocell">
					<div class="ui-g">

						<div class="ui-g-12 videopicture">
							<a href="https://www.youtube.com/watch?v={{youtubevideo.id}}"
								target="_blank" rel="noopener"><img
								src="https://img.youtube.com/vi/{{youtubevideo.id}}/hqdefault.jpg"
								alt="{{ 'CHANNEL.VIDEO_ID' | translate }}: {{youtubevideo.id}}"/>
							</a>
						</div>

						<div class="ui-g-12 videotitle">
							{{youtubevideo.title}},
							{{ youtubevideo.duration | dateFormat: 'HH:mm:ss.SSS'}}
						</div>

						<div class="ui-g-12 videopablished">
							{{ 'COMMON.DATE' | translate }}: {{youtubevideo.publishedat | date:
							'dd-MM-yyyy HH:mm:ss'}}
							<a href="/video?idvideo={{youtubevideo.id}}"
								target="_blank" rel="noopener"> <img src="../../assets/images/gr.png"
								title="{{ 'CHANNEL.VIEW_STATISTICS' | translate }}" />
							</a>
						</div>
					</div>

				</div>
			</ng-template>

		</div>
	</div>

	<div class="ui-g-12" *ngIf="selectedChannel && selectedChannel.countvideo > maxCountVideoInChannels">
		<p-paginator [rows]="maxCountVideoInChannels" totalRecords="{{selectedChannel.countvideo}}"
		(onPageChange)="paginate($event)"></p-paginator>
	</div>

</div>

