<div class="about">
	<p style="text-align: center;">
		<strong>Програма для аналізу вартості каналів зв'язку філії.</strong>
	</p>

	<p>
		Дозволяє аналізувати вартість каналів зв'язку відділень на підставі
		даних сайту: <a href="https://rp.privatbank.ua/rp_v3/">https://rp.privatbank.ua/rp_v3/</a>
	</p>

	<p>Дані можуть вибиратися за заданий період і групуватися по
		відділенням або провайдерам. Є можливість порівняння по датах періоду.
		Якщо дати періоду не задані, передбачається поточна дата. Для сортування 
		клікніть по відповідній назві колонці в шапці таблиці</p>

	<p>
		Дані для аналізу беруться з сайту:<a href="https://rp.privatbank.ua/rp_v3/">https://rp.privatbank.ua/rp_v3/</a>
		Для цього треба вивантажити з цього сайту дані по відділеннях в
		XLS-файл, причому з дочірніми і закритими каналами зв'язку. 
		Потім в меню [<i>Адміністрування</i>] необхідно завантажиті цей файл в програму. 
		Для	цього у Вас повинен бути доступ адміністратора. При зміни даних на сайті, процедуру треба повторити.
		 
	</p>
	<p>
		В розрахунок беруться тількі канали з не нульовою вартістю.
	</p>
	<p style="margin-top: 2em;">
		<strong>Стек технологій:</strong>
	</p>
	<ul>
		<li><a href="https://angular.io" target="_blank">Angular2</a></li>
		<li><a href="https://nodejs.org" target="_blank">NodeJS</a></li>
		<li><a href="https://webpack.github.io/" target="_blank">WebPack</a></li>
		<li><a href="http://tomcat.apache.org/" target="_blank">Tomcat</a></li>
		<li><a href="https://spring.io/" target="_blank">Spring</a></li>
		<li><a href="http://hibernate.org/" target="_blank">Hibernate</a></li>
	</ul>
</div>
