.headtitle h1 {
	margin: 5px;
}

.rules {
	text-align: right;
}

.rules label {
    vertical-align: middle;
}
.rules img {
	margin: 0 10px 0 10px;
	width: 20px;
	height: auto;
    vertical-align: middle;
}
