<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
	<div id="header">
	
		<div class="p-grid p-justify-between head">
			<div class="p-col-2">
			</div>
			<div class="p-col-6 headtitle">
					<a href="/"><h1>Youtube</h1><h1 class="decor"> METER </h1></a><br/>
					<label>{{ 'HEADER.DESCRIPTION' | translate }}</label>
			</div>

			<div class="p-col-2 headsupport">
				<label  title="{{ 'HEADER.LANG' | translate }}">
					<select [(ngModel)]="langSelect" (change)="setLang()" id="changelang">
						<option *ngFor="let lang of translate.getLangs()" [value]="lang" 
							[selected]="lang === translate.currentLang">{{ lang }}</option>
					</select>
				</label>
				<a href="https://docs.google.com/document/d/1riapDk1TKfmTxEm-WS3Zla25dFqpSiEAO-5ExN406QM/edit?usp=sharing" 
					target="_blank">
	 				<img id="idhelp" src="../../assets/images/help.png" title="{{ 'HEADER.ABOUT' | translate }}" 
	 					class="titleimg"/>
				</a>			
			</div>
		
		</div>
	</div>


	<div id="content">
		<app-messages></app-messages>
		<router-outlet></router-outlet>
	</div>
	
	<div id="footer">
		<form style="margin-top: 2em; text-align: center;">
				YoutubeMETER, version: 0.1
		</form>
	</div>

</div>