.head {
   padding-bottom: 25px;   
}

.headtitle {
	text-align: center;	
}

.headtitle .decor {
	color: #888;
	font-style: italic;
	background: #eee;
	font-size: 0.9em;
	vertical-align: top;
}

.headtitle h1 {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: xx-large;
}

.headtitle a {
	text-decoration: none;
}

.headsupport {
	text-align: right;	
}

.headsupport * {
	vertical-align: top;
}

.titleimg {
	width: 23px;
	height: auto;
	margin-left: 10px;
}
