<!--The content below is only a placeholder and can be replaced.-->
<div id="wrapper">
	<div class="ui-g headtitle">

		<div class="ui-g-11">
			<div>
				<h1>{{title}}</h1>
			</div>
		</div>

		<div class="ui-g-1">
			<a href="https://docs.google.com/document/d/1riapDk1TKfmTxEm-WS3Zla25dFqpSiEAO-5ExN406QM/edit?usp=sharing" target="_blank">
			 <img id="idhelp" src="../../assets/images/help.png" alt="Про програму"	title="Про програму" />
			</a>
		</div>
	</div>


	<div id="content">
		<app-messages></app-messages>
		<router-outlet></router-outlet>
	</div>
	<div id="footer">
		<form style="margin-top: 2em; text-align: center;">
			<a
				href="mailto:kr110666kai@gmail.com?subject=Question for YoutubeMeter">Куц
				А.И., kr110666kai@gmail.com</a>, version: 0.1
		</form>
	</div>

</div>