.head {
   padding-bottom: 25px;   
}

.headtitle {
	text-align: center;	
}

.headtitle h1 {
	display: inline;
	margin: 0;
	padding: 0;
	font-size: xx-large;
}

.headtitle a {
	text-decoration: none;
}

.headsupport * {
	vertical-align: top;
}

.titleimg {
	width: 23px;
	height: auto;
	margin-left: 10px;
}
