.headmetrics h1 a {
	color: #999;
	font-style: bold;
	font-size: large;
	cursor: pointer;
	text-decoration: none;
}

.headmetrics h1 a:hover {
	text-decoration: underline;
}

.detail label, input, button {
	margin-left: 1em;
}

.detail p-button {
	margin-left: 3em;
}

img {
	width: 300px;
}

.multi_lines_text { 
	white-space: pre-line; 
}


.imglink {
	margin-left: 1em;
	width: 24px;
	height: auto;
	vertical-align: text-bottom;	
}
