<p-sidebar *ngIf="selectedPlayList" [(visible)]="visibleSidebar1" [baseZIndex]="10000"
	blockScroll="true" [style]="{'width':'340px', 'margin-bottom': '20px'}">

	<h1>{{ 'PLAYLIST.SELECT' | translate }}</h1>

	<p-listbox [options]="playlistItems" [(ngModel)]="selectedPlayList"
		filter="filter" [style]="{'width':'300px', 'border':'none'}"
		(onChange)="getVideos()">
		<ng-template let-playlistItem pTemplate="item">
			<div class="ui-helper-clearfix">{{playlistItem.label}}</div>
		</ng-template>
	</p-listbox>

</p-sidebar>

<div *ngIf="selectedPlayList" class="ui-g">
	<div class="ui-g-12 headplaylist">
		<button pButton type="button" (click)="visibleSidebar1 = true"
			icon="pi pi-arrow-left" label="{{ 'COMMON.CHANGE' | translate }}">
		</button>

		<h1 title="{{ 'COMMON.DIRECTL_REF' | translate }}">
			<span>{{ 'COMMON.CHANNEL_U' | translate }}: </span>
			<a href="/playlist?id={{selectedPlayList.id}}" target="_blank">
				<label>{{selectedPlayList.title}}</label>
			</a>
		</h1>

		<a href="https://www.youtube.com/channel/{{selectedPlayList.idch}}" target="_blank">
			<img src="../../assets/images/link.png" title="{{ 'PLAYLIST.CHANNEL_REF_YOUTUBE' | translate }}" />
		</a>
	</div>

	<div class="ui-g-12">
		{{ 'PLAYLIST.ID' | translate }}:
		<a href="https://www.youtube.com/playlist?list={{selectedPlayList.id}}" target="_blank">
			{{selectedPlayList.id}}</a>,
		{{ 'PLAYLIST.START' | translate }} {{selectedPlayList.timeadd | date: 'dd-MM-yyyy HH:mm:ss'}},
		{{ 'PLAYLIST.COUNT_VIDEO' | translate }}: {{selectedPlayList.countvideo}}
	</div>

	<div class="ui-g-12">
		<div class="p-grid p-align-start .p-col-align-start">

			<ng-template ngFor let-ytubevideo [ngForOf]="youtubeVideosShort">
				<div class="p-col videocell">
					<div class="ui-g">

						<div class="ui-g-12 videopicture">
							<a href="https://www.youtube.com/watch?v={{ytubevideo.id}}"
								target="_blank"> <img
								src="https://img.youtube.com/vi/{{ytubevideo.id}}/hqdefault.jpg"
								alt="{{ 'PLAYLIST.VIDEO_ID' | translate }}: {{ytubevideo.id}}"/>
							</a>
						</div>

						<div class="ui-g-12 videotitle">{{ytubevideo.title}}</div>

						<div class="ui-g-12 videopablished">
							{{ 'COMMON.DATE' | translate }}: {{ytubevideo.publishedat | date:
							'dd-MM-yyyy HH:mm:ss'}}
							<a href="/video?idvideo={{ytubevideo.id}}"
								target="_blank"> <img src="../../assets/images/gr.png"
								title="{{ 'PLAYLIST.VIEW_STATISTICS' | translate }}" />
							</a>
						</div>
					</div>

				</div>
			</ng-template>

		</div>
	</div>

	<div class="ui-g-12" *ngIf="selectedPlayList && selectedPlayList.countvideo > maxCountVideoInPlayLists">
		<p-paginator [rows]="maxCountVideoInPlayLists" totalRecords="{{selectedPlayList.countvideo}}"
		(onPageChange)="paginate($event)"></p-paginator>
	</div>

</div>

