<div *ngIf="globalCounts" class="ui-g">
	<div *ngIf="globalCounts && youtubeVideosShort" class="ui-g-12">
		{{ 'COMMON.VIDEOS_U' | translate }}: {{videoStart}} - {{videoEnd}}
		{{ 'COMMON.OF' | translate }} {{globalCounts.countvideo}}
		<button pButton type="button" icon="pi pi-refresh" styleClass="buttonreset"
			class="ui-button-raised ui-button-secondary" (click)="getVideos(0)"	
			title="{{ 'COMMON.REFRESH' | translate }}">
		</button>
	</div>

	<div *ngIf="youtubeVideosShort" class="ui-g-12">
		<div class="p-grid p-align-start .p-col-align-start">

			<ng-template ngFor let-ytubevideo [ngForOf]="youtubeVideosShort">
				<div class="p-col videocell">
					<div class="ui-g">

						<div class="ui-g-12 videopicture">
							<a href="https://www.youtube.com/watch?v={{ytubevideo.id}}"
								target="_blank" rel="noopener"> <img
								src="https://img.youtube.com/vi/{{ytubevideo.id}}/hqdefault.jpg"
								alt="{{ 'PLAYLIST.VIDEO_ID' | translate }}: {{ytubevideo.id}}"
								title="{{ytubevideo.ptitle}}"/>
							</a>
						</div>

						<div class="ui-g-12 videotitle">{{ytubevideo.ptitle}}: {{ytubevideo.title}}</div>

						<div class="ui-g-12 videopablished">
							{{ 'COMMON.DATE' | translate }}: {{ytubevideo.publishedat | date:
							'dd-MM-yyyy HH:mm:ss'}}
							<a href="/video?idvideo={{ytubevideo.id}}"
								target="_blank" rel="noopener"> <img src="../../assets/images/gr.png"
								title="{{ 'PLAYLIST.VIEW_STATISTICS' | translate }}" />
							</a>
						</div>
					</div>

				</div>
			</ng-template>

		</div>
	</div>

	<div class="ui-g-12" *ngIf="globalCounts">
		<p-paginator [rows]="globalCounts.maxcountvideo" totalRecords="{{globalCounts.countvideo}}"
		(onPageChange)="paginate($event)"></p-paginator>
	</div>

</div>

